<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Word Generator</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="wrapper">
        <h1>Random String (attempt #{{request.session.count}})</h1>
        <p>'{{request.session.unique_id}}'</p>
        <a href="/generate/" class="button">Generate</a>
        <a href="/" class="button">Reset</a>
    </div>

</body>
</html>