<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books & Authors</title>
</head>
<body>
    <h1>Add a Book</h1>
    <form action="/add_book" method="POST">
        {% csrf_token %}
        <label for="">Title</label><br>
        <input type="text" name="title"><br>
        <label for="">Description</label><br>
        <textarea name="desc" id="" cols="30" rows="10"></textarea><br>
        <button>Add</button>
    </form>
    <table>
        <tr>
            <thead>ID</thead>
            <thead>Title</thead>
            <thead>Action</thead>
        </tr>
        {% for book in books %}
            <tr>
                <td>{{book.id}}</td>
                <td>{{book.title}}</td>
                <td><a href="/books/{{book.id}}">View</a></td>
            </tr>
        {% endfor %}
    </table>
    <a href="/author_index">Add an Author</a>
</body>
</html>