{% extends 'base.html'  %}

{% block nav %}
<h2>Welcome, {{user.first_name}}!</h2>
<ul>
    <li><a href="/books/addbook">Add Book & Review</a></li>
    <li><a href="/books/logout">Logout</a></li>
</ul>
{% endblock %}

{% block content %}
<div class="container">
    <h3>Recent Book Reviews</h3>
    <ul>
        {% for review in reviews reversed %}
        <li>
            <a href="/books/{{review.book.id}}">{{review.book.title}}</a>
            <p>Rating: {{review.rating}}</p>
            <p><a href="/books/users/{{review.user.id}}">{{review.user.first_name}}</a> says: {{review.content}}</p>
            <p>{{review.created_at}}</p>
            <hr>
        </li>
        {% empty %}
        <li>No reviews yet!</li>
        {% endfor %}
    </ul>
</div>

<div class="container">
    <h3>Other Books with Reviews</h3>
    <ul>
        {% for book in books %}
        <li><a href="">{{book.title}}</a></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}