{% extends 'base.html'  %}


{% block nav %}
<div class="btn-group">
    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {{user.first_name}} {{user.last_name}}
    </button>
    <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item" href="/books/users/{{user.id}}">Profile</a>
        <a class="dropdown-item" href="/books/addbook">Add Book & Review</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/books/logout">Logout</a>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="wrapper">
    <h3 class="page-head">Recent Book Reviews</h3>
    <ul class="list-group">
        {% for review in reviews reversed %}
        <li class="list-group-item">
            <a class="review-head" href="/books/{{review.book.id}}">{{review.book.title}}</a>
            <p>Rating: {{review.rating}}</p>
            <p><a href="/books/users/{{review.user.id}}">{{review.user.first_name}}</a> says: {{review.content}}</p>
            <p class="date">{{review.created_at}}</p>
        </li>
        {% empty %}
        <li>No reviews yet!</li>
        {% endfor %}
    </ul>
</div>

<div class="wrapper">
    <h3>Other Books with Reviews</h3>
    <ul>
        {% for book in books %}
        <li><a href="/books/{{book.id}}">{{book.title}}</a></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}