{% extends 'base.html'  %}

{% block nav %}
<h2>Welcome, {{user.first_name}}!</h2>
<ul>
    <li><a href="/books/">Home</a></li>
    <li><a href="/books/logout">Logout</a></li>
</ul>
{% endblock %}

{% block content %}
<div class="container">
    <h2>{{book.title}}</h2>
    <p>Author: {{book.author.name}}</p>
    
    <h3>Reviews</h3>
    <ul>
        {% for review in book.reviews.all %}
        <li>
            <p>Rating: {{review.rating}}</p>
            <p><a href="/books/users/{{review.user.id}}">{{review.user.first_name}}</a> says: {{review.content}}</p>
            <p>{{review.created_at}}</p>
            <hr>
        </li>
        {% endfor %}
    </ul>
</div>
<div class="container">
    <form action="/books/{{book.id}}" method="POST">
        {% csrf_token %}
        <label>Add a Review:</label>
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{message}}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <div>
            <textarea name="review" cols="30" rows="10"></textarea>
        </div>
        <label>Rating</label>
        <select name="rating">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <button>Submit Review</button>
    </form>
</div>
{% endblock %}