{% extends 'base.html'  %}

{% block nav %}
<div class="btn-group">
    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {{user.first_name}} {{user.last_name}}
    </button>
    <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item" href="/books/users/{{user.id}}">Profile</a>
        <a class="dropdown-item" href="/books/addbook">Add Book & Review</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/books/logout">Logout</a>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container" >
    <h3>{{profile.first_name}} {{profile.last_name}}</h3>
    <p>{{profile.email}}</p>
    <p>Total Reviews: {{profile.reviews.all|length}}</p>
    
    <p>Favorite Books:</p>
    {% if user.id == profile.id %}
    <ol id="sortable" class="list-group">
    {% else %}
    <ol style="width: 500px;">
    {% endif %}
        {% for book in profile.favorites.all %}
        <li><a class="list-group-item list-group-item-action" href="/books/{{book.id}}">{{book.title}}</a></li>
        {% empty %}
        <li>No favorites yet</li>
        {% endfor %}
    </ol>
    <p>Posted Reviews on the following books:</p>
    <ul>
        {% for review in profile.reviews.all %}
        <li><a href="/books/{{review.book.id}}">{{review.book.title}}</a></li>
        {% empty %}
        <li>No reviews yet!</li>
        {% endfor %}
    </ul>
    <p>Added the following books:</p>
    <ul>
        {% for book in profile.books_added.all %}
        <li><a href="/books/{{book.id}}">{{book.title}}</a></li>
        {% empty %}
        <li>No Books Added!</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}