* {
    /* outline: 1px dotted magenta; */
    --primary: #6633CC;
    --secondary: #4D6EDC;
}
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #e3eaee;
}
a {
    text-decoration: none;
    color: var(--primary);
}
a.dropdown-item {
    font-size: 0.75em;
    padding: .5rem 1rem;
}
label {
    margin-top: 15px;
}
span {
    color: var(--secondary);
    font-size: 1.25em;
}
.bg-light {
    background-color: white !important;
}
.btn-container {
    margin-top: 15px;
}
    .btn-container .btn {
        margin-top: 15px;
    }
.btn {
    padding: .5rem 1rem;
    width: 100%;
}
.btn-primary {
    background-color: var(--primary);
    border-color: var(--primary);
}
    .btn-primary:hover {
        background-color: #6f38df;
        border-color: #6f38df;
    }
.btn-secondary {
    color: var(--secondary);
    background-color: transparent;
    border: 2px solid var(--secondary);
}
    .btn-secondary:hover {
        background-color: var(--secondary);
        border-color: var(--secondary);
    }
.center {
    display: block;
    text-align: center;
    margin-top: 15px;
}
.container {
    padding: 30px;
}
.date {
    color: grey;
    font-size: 0.75em;
    font-style: italic;
}
.form-control:focus {
    border-color: var(--primary);
    box-shadow: 0 0 0 0.25rem rgb(102 51 204 / 25%);;
}
.header-logo {
    width: 150px;
}
.list-group {
    width: 100%;
}
    .list-group-item {
        padding: 1rem 1.5rem;
    }
.logres {
    background-color: white;
    width: 90%;
    padding: 20px;
    border-radius: 10px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
    .logres-bg {
        background: url('img/bg.png') no-repeat center center fixed;
        background-size: cover;
    }
.navbar {
    padding: .5rem 1.25rem;
}
.page-head {
    font-weight: 600;
    margin: 0;
}
a.review-head {
    font-size: 1.25em;
    font-weight: 500;
}
.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/*-------------------------- ipad/ tablet --------------------------*/
@media only screen and (min-width: 650px) {
    .btn-container {
        display: flex;
        justify-content: space-between;
    }
    .btn {
        width: 48%;
    }
    .logres {
        width: 70%;
    }
    
}


/*-------------------------- desktop --------------------------*/
@media only screen and (min-width: 900px) {
    .list-group {
        width: 50%;
    }
    .list-group.books {
        width: 40%;
    }
    .logres {
        width: 630px;
    }
}